<a href="https://colab.research.google.com/github/AdrianduPlessis/UBI_Effects/blob/master/ML_Project_Proposal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hidden Effects of a UBI

Universal Basic Income (UBI) is not a new idea, I myself was introduced to the idea when Elon Musk first mentioned it in an interview back in 2017. Recently one of the democratic candidates, Andrew Yang, has been moving the idea closer to reality than it has ever been (on a massive scale, at least). With more attention than ever on UBI, some interesting opinions are being aired as to the possible social implications this massive economic disruption might have.  

Thinking through these issues myself, a lucky synapse fired reminding me of the Gini Index. The Gini Index is essentially a metric representing the inequality of income distribution within a certain geography. A UBI would obviously have the effect of lowering the Gini Index, most drastically on the bottom end. 
 
'Alright, so what?' I can hear you thinking. So this: The only reason I remember anything at all from the obscure YouTube video that introduced me to the Gini Index is because of the powerful correlation that exists between the Gini Index and adult_arrests rates. Anywhere on the spectrum... if you take two of the weathiest neighborhoods California, for example, and calculate the Gini Index for just those two neighborhoods, the neighborhood with the higher Gini Coefficient will (with some confidence) have the higher adult_arrests rate.  

'Neato, but so what?' Well, let me put it to you that using per county Gini Index, Income, and adult_arrests Rate data-- a decent ML model should be able to predict the reduction in adult_arrests rates of a given UBI ammount.  

**What's more:** that predicted reduction in adult_arrests-rate could be translated into reduced cost of incarseration (including burden of legal fees) to the government, information that would be very useful to a hopeful candidate trying to explain the value of the idea that their political campaign is based on.

#Hyp: income inequality -> adult_arrests

Hypothesis A: There exists a (statistically significant) correlation between Gini Coefficient (Income Inequality) and adult_arrestsrates within a specific county/state.

Determine p-values for individual counties' gini-to-adult_arrests over time.  
Determine p-values for counties' gini-to-adult_arrests for a given year.

##Tools of the trade

In [1]:
!pip install eli5

Collecting eli5
  Downloading https://files.pythonhosted.org/packages/97/2f/c85c7d8f8548e460829971785347e14e45fa5c6617da374711dec8cb38cc/eli5-0.10.1-py2.py3-none-any.whl (105kB)
     |████████████████████████████████| 112kB 3.5MB/s
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.21.3)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (19.3.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5) (1.12.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (1.16.5)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.8.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5) (2.10.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from eli5) (1.3.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->eli5) (0.14.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5) (1.1.1)
Installing collected packages: eli5
Successfully installed eli5-0.10.1

In [2]:
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
#Imports for baseline
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import eli5
from eli5.sklearn import PermutationImportance

Using TensorFlow backend.

##Import Datasets

In [0]:
gini_5yr_est_2017 = pd.read_csv('https://raw.githubusercontent.com/AdrianduPlessis/UBI_Effects/master/data/gini_est_5yr_17.csv', skiprows=1)

In [0]:
adult_arrests = pd.read_csv('https://raw.githubusercontent.com/AdrianduPlessis/UBI_Effects/master/data/ICPSR_36399/DS0004/36399-0004-Data.tsv', sep='\t')

In [0]:
FIPS = pd.read_csv('https://raw.githubusercontent.com/AdrianduPlessis/UBI_Effects/master/data/all-geocodes-v2016.xlsx%20-%20Sheet1.csv', skiprows=4)

###Data Wrangling

In [0]:
def change_id_to_fips(id):
  fips = int(id[-5:])
  return fips

In [0]:
gini_5yr_est_2017['Id'].apply(change_id_to_fips);

In [0]:
#Create dictionary to lookup State based on state FIPS
State_FIPS = FIPS[FIPS['County Code (FIPS)']==0]
State_FIPS = State_FIPS[State_FIPS['Summary Level']==40]

lookup_state_FIPS = dict(zip(State_FIPS['State Code (FIPS)'], State_FIPS['Area Name (including legal/statistical area description)']))

In [0]:
adult_arrests['state'] = adult_arrests['FIPS_ST'].map(lookup_state_FIPS)

In [0]:
def combine_cty_st_fips(cty, st):
  full_fips = st*1000 + cty
  return full_fips

In [0]:
FIPS['FIPS'] = combine_cty_st_fips(FIPS['County Code (FIPS)'], FIPS['State Code (FIPS)'])
adult_arrests['FIPS'] = combine_cty_st_fips(adult_arrests['FIPS_CTY'], adult_arrests['FIPS_ST'])

##Merge Datasets

In [0]:
#Note: missing gini data for 35 counties (based on shapes of dfs being merged)
arrest_by_ineq = adult_arrests.merge(gini_5yr_est_2017, left_on='FIPS', right_on='Id2')

In [13]:
arrest_by_ineq.head()

   STUDYNO  EDITION  ...  Estimate; Gini Index  Margin of Error; Gini Index
0     9999        1  ...                0.4501                       0.0391
1     9999        1  ...                0.4618                       0.0100
2     9999        1  ...                0.4622                       0.0148
3     9999        1  ...                0.4518                       0.0565
4     9999        1  ...                0.4302                       0.0175

[5 rows x 28 columns]

###Further Wrangling

In [0]:
#Engineer feature that controls for variation in population size
def control_for_population(df, feature, population):
  df[feature] = df[feature]/df[population]
  return df

In [0]:
crime_types = ['VIOL', 'PROPERTY', 'MURDER', 'RAPE', 
               'ROBBERY', 'AGASSLT', 'BURGLRY', 'LARCENY', 
               'MVTHEFT','ARSON']

population = arrest_by_ineq['CPOPARST']

for crime in crime_types:
  arrest_by_ineq[crime] = arrest_by_ineq[crime]/population

In [16]:
arrest_by_ineq.head()

   STUDYNO  EDITION  ...  Estimate; Gini Index  Margin of Error; Gini Index
0     9999        1  ...                0.4501                       0.0391
1     9999        1  ...                0.4618                       0.0100
2     9999        1  ...                0.4622                       0.0148
3     9999        1  ...                0.4518                       0.0565
4     9999        1  ...                0.4302                       0.0175

[5 rows x 28 columns]

In [17]:
arrest_by_ineq.shape

(3134, 28)

In [0]:
#Drop NaNs
#Stretch: Impute
arrest_by_ineq = arrest_by_ineq.dropna()

In [19]:
arrest_by_ineq.shape

(3129, 28)

In [20]:
arrest_by_ineq.head()

   STUDYNO  EDITION  ...  Estimate; Gini Index  Margin of Error; Gini Index
0     9999        1  ...                0.4501                       0.0391
1     9999        1  ...                0.4618                       0.0100
2     9999        1  ...                0.4622                       0.0148
3     9999        1  ...                0.4518                       0.0565
4     9999        1  ...                0.4302                       0.0175

[5 rows x 28 columns]

In [30]:
arrest_by_ineq.describe()

       STUDYNO  EDITION  ...  Estimate; Gini Index  Margin of Error; Gini Index
count   3129.0   3129.0  ...           3129.000000                  3129.000000
mean    9999.0      1.0  ...              0.444994                     0.024402
std        0.0      0.0  ...              0.035458                     0.015315
min     9999.0      1.0  ...              0.339000                     0.001500
25%     9999.0      1.0  ...              0.421300                     0.014000
50%     9999.0      1.0  ...              0.442400                     0.021400
75%     9999.0      1.0  ...              0.466500                     0.030800
max     9999.0      1.0  ...              0.597600                     0.145300

[8 rows x 25 columns]

In [22]:
corr = arrest_by_ineq.corr()
corr.sort_values('Estimate; Gini Index')['Estimate; Gini Index']

FIPS_ST                       -0.055760
Id2                           -0.055288
FIPS                          -0.055288
IDNO                          -0.053920
RAPE                           0.004323
COVIND                         0.004652
FIPS_CTY                       0.056378
AG_OFF                         0.103482
ARSON                          0.105689
AG_ARRST                       0.131614
CPOPCRIM                       0.145555
CPOPARST                       0.147333
MURDER                         0.178801
MVTHEFT                        0.179110
LARCENY                        0.211482
AGASSLT                        0.224959
Margin of Error; Gini Index    0.232536
PROPERTY                       0.242230
VIOL                           0.258775
BURGLRY                        0.265313
ROBBERY                        0.317500
Estimate; Gini Index           1.000000
STUDYNO                             NaN
EDITION                             NaN
PART                                NaN
Name: Estimate; Gini Index, dtype: float64

In [0]:
#y_ineq['Estimate; Gini Index'].corr(arrest_by_ineq['arrests_per_person'])

##Predict adult_arrests on gini coefficient (Baseline)

In [0]:
#X = arrest_by_ineq['Estimate; Gini Index'].values.reshape(-1, 1)
#y = arrest_by_ineq['arrests_per_person'].values.reshape(-1, 1)

In [25]:
#mean baseline
y_baseline = [y_train.mean()] * len(y_train)
baseline_mae = mean_absolute_error(y_baseline, y_train)
baseline_r2e = mean_squared_error(y_baseline, y_train)
print("Baseline: \n",
      "MAE: ", baseline_mae, '\n',
      "r^2 error: ", baseline_r2e, '\n')

NameError: ignored

In [0]:
'''linear_regressor = LinearRegression()  # create object for the class
linear_regressor.fit(X, y)  # perform linear regression
y_pred = linear_regressor.predict(X)  # make predictions'''

In [0]:
#mean_squared_error(y, y_pred)

In [0]:
'''%matplotlib inline
plt.scatter(X, y)
plt.plot(X, y_pred, color='red')
plt.show()'''

#Predict Gini on Reported crime types

In [0]:
reported_crimes = ['VIOL', 'PROPERTY', 'MURDER', 'RAPE', 
               'ROBBERY', 'AGASSLT', 'BURGLRY', 'LARCENY', 
               'MVTHEFT','ARSON']

y = arrest_by_ineq['Estimate; Gini Index']
X = arrest_by_ineq[reported_crimes]

In [0]:
#Train/Test Split
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.3, random_state=42)

In [0]:
model = RandomForestRegressor(criterion='mae', n_estimators=100)
model.fit(X_train, y_train)
y_pred = model.predict(X_train)

In [0]:
mean_absolute_error(y_train, y_pred)

In [0]:
y_train.describe()

In [0]:
mean_squared_error(y_train, y_pred)

##CV Scores

In [0]:
scores = cross_val_score(model, X_train, y_train, cv=5)
#np.mean(scores)
scores

In [0]:
mean_absolute_error(model.predict(X_test), y_test)

##Train, optomize, validate model

##Interpret feature importances

In [0]:
X_train.head()

In [0]:
permuter = PermutationImportance(
    model,
    n_iter=2,
    random_state=42
)

permuter.fit(X_train, y_train)
feature_names = X_train.columns.tolist()

eli5.show_weights(
    permuter,
    top=None,
    feature_names = feature_names
)

#Predict and graph particular crime rate against gini, to show elbow

#Additional Questions:

##Correlation between income metric and trend in adult_arrests rate?  
positive feedback loop?

##Mean/Median income predictive of type of crime?

#TODO 
11/16/19:  
Merge relevant adult_arrests data.  
Collapse by county.